@import '../../../index.scss';

.loginPopup {
  display: flex;
  width: auto;
  position: absolute;
  top: 65px;
  right: 2rem;
  background: $primary-color;
  color: white;
  border: 2px solid $secondary-color;
  align-items: center;
  transition: opacity 0.6s;
}

.usernameWrapper,
.passwordWrapper {
  padding: 0.5rem;
  font-weight: 600;
}

label,
input {
  display: block;
}

.hidden {
  display: none !important;
  opacity: 0;
}

.visible {
  opacity: 1;
}