@import '../../index.scss';

.specialistsSection {
    min-height: 100vh;
    // height: 100vh;
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 60%;
    margin: auto;
    align-items: left;
    justify-content: flex-start;
    text-align: center;
    padding: 2rem;
    margin-top: 60px;
  
    @include lg {
      width: 90%;
      max-width: 90%;
    }
  
    
  }

  .team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    grid-gap: 2rem;

    @include lg {
      grid-template-columns: 1fr 1fr;
    }

    @include sm {
      grid-template-columns: 1fr;
      padding: 0rem;
    }

  }