@import '../../index.scss';

.contactSection {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 60%;
    margin: auto;
    align-items: left;
    justify-content: flex-start;
    text-align: left;
    padding: 2rem;
    margin-top: 60px;
  
    @include lg {
      width: 90%;
      max-width: 90%;
    }
  
   
  }

  .contactUs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    @include md {
      flex-direction: column;
    }
}


.writeToUs {
  width: 70%;

  @include lg {
    width: 90%;
    max-width: 90%;
  }

  form {
    margin: 0;

  }
}