@import '../../index.scss';

.inputGroup {

    select {
        width: 100%;
        padding: 0.2rem;
        font-size: 1rem;
        border: 1px solid $primary-color;
        background-color: white;
        color: #666;
    
        &:focus {
            border: 1px solid $secondary-color;
            outline: none;
        }
    }

    label {
        margin-bottom: 0;
    }
}